version: "3.9"
services:
  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq
    ports:
      - "5672:5672"   # AMQP
      - "15672:15672" # Management UI / API
    environment:
      RABBITMQ_DEFAULT_USER: amarwk
      RABBITMQ_DEFAULT_PASS: Amar@123-
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

volumes:
  rabbitmq_data:
